<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Take Over By PIKPIKCU</title>
	

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Subdomain Takeover!</h1>
		<a href="javascript:alert('BOOMM')" class="btn btn-primary btn-lg">Click here for redirect</a>
	


	</div>
</div>
	
</body>
</html>
